@model IEnumerable<KodApp.Models.Kod>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="text-center">
    <p>
        @using (Html.BeginForm("Index", "Kod", FormMethod.Get))
        {
            <b>Search By:</b>
            <b>@Html.RadioButton("searchBy", "title", true) <text>title</text></b>
            <b>@Html.RadioButton("searchBy", "artist") <text>artist</text><br /></b>
            <b>@Html.TextBox("search") <input type="submit" value="Search" /></b>
        }
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.songNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.songNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.videokeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.videokeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.videokeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
